PORT=3000
MONGO_URI=mongodb://localhost:27017/nest_final
JWT_SECRET=my_super_secret_key
BREVO_API_KEY=API_KEY
BREVO_SENDER_EMAIL=SENDER_EMAIL
BREVO_SENDER_NAME=SENDER_NAME
AUTH_IP_TTL=60000
AUTH_IP_LIMIT=20
AUTH_USER_TTL=60000
AUTH_USER_LIMIT=3